@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Ocultar barra en IE y Edge */
    scrollbar-width: none;  /* Ocultar barra en Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Ocultar barra en Chrome, Safari y Opera */
  }
  .font-geist {
    font-family: 'Geist', sans-serif;
  }
}
@layer base {
  :root {
    --font-geist: 'Geist', sans-serif;
  }

  body {
    font-family: var(--font-geist);
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Por defecto: mobile (más rápido) */
.animate-scroll {
  animation: scroll 10s linear infinite;
}

/* Pantallas medianas en adelante: más lento */
@media (min-width: 768px) {
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}

@media (min-width: 1024px) {
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }
}


html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

