@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Ocultar barra en IE y Edge */
    scrollbar-width: none;  /* Ocultar barra en Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Ocultar barra en Chrome, Safari y Opera */
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

